<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.DiaryMapper">
  <resultMap id="BaseResultMap" type="com.blog.po.Diary">
    <id column="did" jdbcType="INTEGER" property="did" />
    <result column="resource" jdbcType="VARCHAR" property="resource" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="relaseData" jdbcType="TIMESTAMP" property="relasedata" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="typeId" jdbcType="INTEGER" property="typeid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.blog.po.DiaryWithBLOBs">
    <result column="content_base" jdbcType="LONGVARCHAR" property="contentBase" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    did, resource, title, relaseData, image, typeId
  </sql>
  <sql id="Blob_Column_List">
    content_base, content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.blog.po.DiaryExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from diary
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.blog.po.DiaryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from diary
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from diary
    where did = #{did,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from diary
    where did = #{did,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.blog.po.DiaryExample">
    delete from diary
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.blog.po.DiaryWithBLOBs">
    insert into diary (did, resource, title, 
      relaseData, image, typeId, 
      content_base, content)
    values (#{did,jdbcType=INTEGER}, #{resource,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{relasedata,jdbcType=TIMESTAMP}, #{image,jdbcType=VARCHAR}, #{typeid,jdbcType=INTEGER}, 
      #{contentBase,jdbcType=LONGVARCHAR}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.blog.po.DiaryWithBLOBs">
    insert into diary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="did != null">
        did,
      </if>
      <if test="resource != null">
        resource,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="relasedata != null">
        relaseData,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="typeid != null">
        typeId,
      </if>
      <if test="contentBase != null">
        content_base,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="did != null">
        #{did,jdbcType=INTEGER},
      </if>
      <if test="resource != null">
        #{resource,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="relasedata != null">
        #{relasedata,jdbcType=TIMESTAMP},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null">
        #{typeid,jdbcType=INTEGER},
      </if>
      <if test="contentBase != null">
        #{contentBase,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.blog.po.DiaryExample" resultType="java.lang.Long">
    select count(*) from diary
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update diary
    <set>
      <if test="record.did != null">
        did = #{record.did,jdbcType=INTEGER},
      </if>
      <if test="record.resource != null">
        resource = #{record.resource,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.relasedata != null">
        relaseData = #{record.relasedata,jdbcType=TIMESTAMP},
      </if>
      <if test="record.image != null">
        image = #{record.image,jdbcType=VARCHAR},
      </if>
      <if test="record.typeid != null">
        typeId = #{record.typeid,jdbcType=INTEGER},
      </if>
      <if test="record.contentBase != null">
        content_base = #{record.contentBase,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update diary
    set did = #{record.did,jdbcType=INTEGER},
      resource = #{record.resource,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      relaseData = #{record.relasedata,jdbcType=TIMESTAMP},
      image = #{record.image,jdbcType=VARCHAR},
      typeId = #{record.typeid,jdbcType=INTEGER},
      content_base = #{record.contentBase,jdbcType=LONGVARCHAR},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update diary
    set did = #{record.did,jdbcType=INTEGER},
      resource = #{record.resource,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      relaseData = #{record.relasedata,jdbcType=TIMESTAMP},
      image = #{record.image,jdbcType=VARCHAR},
      typeId = #{record.typeid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.blog.po.DiaryWithBLOBs">
    update diary
    <set>
      <if test="resource != null">
        resource = #{resource,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="relasedata != null">
        relaseData = #{relasedata,jdbcType=TIMESTAMP},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null">
        typeId = #{typeid,jdbcType=INTEGER},
      </if>
      <if test="contentBase != null">
        content_base = #{contentBase,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where did = #{did,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.blog.po.DiaryWithBLOBs">
    update diary
    set resource = #{resource,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      relaseData = #{relasedata,jdbcType=TIMESTAMP},
      image = #{image,jdbcType=VARCHAR},
      typeId = #{typeid,jdbcType=INTEGER},
      content_base = #{contentBase,jdbcType=LONGVARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where did = #{did,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blog.po.Diary">
    update diary
    set resource = #{resource,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      relaseData = #{relasedata,jdbcType=TIMESTAMP},
      image = #{image,jdbcType=VARCHAR},
      typeId = #{typeid,jdbcType=INTEGER}
    where did = #{did,jdbcType=INTEGER}
  </update>
</mapper>